init.author.name=Tagme
init.author.email=marcio@tagme.com.br
init.author.url=http://www.tagme.com.br
scope=tagmedev
@tagmedev:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=c083aae5-96a8-4769-9d6c-b26c58fb5522
